# Data Preprocessing

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score


import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, PReLU, ELU
from keras.layers import Dropout

c:\users\eshaa\appdata\local\programs\python\python39\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

## Loading the Customer Dataset

In [2]:
customer_df = pd.read_csv("churn_modelling.csv")
customer_df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Separating dependent and independent features

In [3]:
X = customer_df.iloc[:, 3:13]
y = customer_df.iloc[:, 13]

In [4]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [ ]:
y

### Shape of the data

In [5]:
X.shape, y.shape

((10000, 10), (10000,))

## Creating Dummy Variables

In [6]:
geography = pd.get_dummies(customer_df["Geography"], drop_first=True)
gender = pd.get_dummies(customer_df["Gender"], drop_first=True)

### Concatenating the data

In [7]:
X = pd.concat([X, geography, gender], axis=1)
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

## Dropping unnecessary columns

In [8]:
X = X.drop(columns=["Geography", "Gender"])

In [9]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

## Splitting the Dataset

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, 
                                                   random_state = 0)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 11), (2000, 11), (8000,), (2000,))

## Feature Scaling

In [11]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Hyperparameter Optimization

In [15]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int("num_layers", 2, 10)):
        model.add(layers.Dense(units = hp.Int("units_" + str(i), 
                                             min_value=20, 
                                             max_value=50,
                                             step=5), 
                              activation = "relu"))
        
    model.add(layers.Dense(1, kernel_initializer = "glorot_uniform", activation="sigmoid"))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice("learning_rate", [1e-2, 1e-3, 1e-4])), 
        loss="binary_crossentropy", 
        metrics=["accuracy"])

    return model

In [16]:
from keras_tuner.tuners import RandomSearch
from keras import layers

tuner = RandomSearch(
            build_model, 
            objective="val_accuracy", 
            max_trials=5, 
            executions_per_trial=3, 
            directory="Trained Weights", 
            project_name="Customer Churn Modelling")

In [17]:
tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 10, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 20, 'max_value': 50, 'step': 5, 'sampling': None}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 20, 'max_value': 50, 'step': 5, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [18]:
tuner.search(X_train, y_train, 
            epochs=30, 
            validation_data=(X_test, y_test))

Trial 5 Complete [00h 00m 49s]
val_accuracy: 0.8615000049273173

Best val_accuracy So Far: 0.8668333292007446
Total elapsed time: 00h 04m 38s
INFO:tensorflow:Oracle triggered exit

In [19]:
tuner.results_summary()

Results summary
Results in Trained Weights\Customer Churn Modelling
Showing 10 best trials
<keras_tuner.engine.objective.Objective object at 0x00000260D624D910>
Trial summary
Hyperparameters:
num_layers: 9
units_0: 45
units_1: 25
learning_rate: 0.01
units_2: 45
units_3: 35
units_4: 25
units_5: 25
units_6: 25
units_7: 20
units_8: 35
Score: 0.8668333292007446
Trial summary
Hyperparameters:
num_layers: 9
units_0: 20
units_1: 30
learning_rate: 0.001
units_2: 35
units_3: 30
units_4: 30
units_5: 40
units_6: 30
units_7: 35
units_8: 50
Score: 0.8661666711171468
Trial summary
Hyperparameters:
num_layers: 9
units_0: 40
units_1: 40
learning_rate: 0.01
units_2: 35
units_3: 45
units_4: 25
units_5: 20
units_6: 35
units_7: 20
units_8: 20
Score: 0.865666667620341
Trial summary
Hyperparameters:
num_layers: 7
units_0: 30
units_1: 45
learning_rate: 0.001
units_2: 20
units_3: 20
units_4: 20
units_5: 20
units_6: 20
Score: 0.8656666477521261
Trial summary
Hyperparameters:
num_layers: 4
units_0: 35
units_1: 45
learning_rate: 0.0001
units_2: 50
units_3: 25
units_4: 30
units_5: 25
units_6: 45
units_7: 45
units_8: 50
Score: 0.8615000049273173